[submodule "source/lib/FreeRTOS-Kernel"]
	path = source/lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "source/lib/pico-sdk"]
	path = source/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
