[submodule "Source/lib/FreeRTOS-Kernel"]
	path = Source/lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "Source/lib/pico-sdk"]
	path = Source/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git